pkgs/eclipse-cpp-2019-09-R-linux-gtk-x86_64.tar.gz filter=lfs diff=lfs merge=lfs -text
pkgs/eclipse-java-2019-09-R-linux-gtk-x86_64.tar.gz filter=lfs diff=lfs merge=lfs -text
pkgs/megasync-Debian_10.0_amd64.deb filter=lfs diff=lfs merge=lfs -text
pkgs/nautilus-megasync-Debian_10.0_amd64.deb filter=lfs diff=lfs merge=lfs -text
pkgs/Pencil_3.0.4_amd64.deb filter=lfs diff=lfs merge=lfs -text
pkgs/rabbitvcs-0.17.1.zip filter=lfs diff=lfs merge=lfs -text
pkgs/StarUML-3.1.0-x86_64.AppImage filter=lfs diff=lfs merge=lfs -text
pkgs/balenaEtcher-1.5.57-x64.AppImage filter=lfs diff=lfs merge=lfs -text
